.Button {
  font-size: 11px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  box-sizing: border-box;
  margin: 10px 0;
  height: 40px;
  width: 170px;
  color: white;
  background: red;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.transpose-numbers {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 12px;
}

.Button:hover{
  cursor: pointer;
  color: red;
  background: transparent;
  border: 2px solid red;
}
