.Topbar {
  color: white;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
}

.logo {
  font-size: 28px;
  font-variant: all-small-caps;
}

.logo span {
  color: red;
  font-size: 35px;
  font-family: monospace;
}

.navigation ul {
  display: flex;
}

.navigation li {
  background-color: unset;
  border: none;
  color: white;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: white;
}

.navigation li:hover {
  cursor: pointer;
  border-bottom: white solid 1px;
}

.is-current {
  border-bottom: white solid 1px !important;
}

@media (max-width: 900px) {
  .navigation {
    display: none;
  }
}