.Hero {
  position: relative;
  display: flex;
  height: 100vh;
  z-index: 1;
}

.Hero .image-wrap {
  background-image: url('../../images/headphone.jpeg');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: contain;
}

.header {
  font-size: 50px;
  padding-bottom: 10px;
}

.copy {
  padding: 10px 0; 
}

.content {
    color: white;
    margin-left: 60px;
    border-left: 2px red solid;
    height: fit-content;
    padding: 30px;
    padding-top: 10px;
    text-align: left;
    margin: auto 60px;
    z-index: 1;
}