.TextInput {
  text-align: left;
}

.TextInput textarea{
  height: 400px;
  width: calc( 100% - 20px);
  width: 100%;
  padding-left: 20px;
  margin-left: -10px;
  padding-top: 20px;
  max-height: 400px;
  min-height: 400px;
  font-size: 14px;
}